<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <i class="fa fa-home" aria-hidden="true"></i>
     <span class="nav-caption">Home</span>
  </a>

  <a mat-list-item routerLink="/customers" (click)="onSidenavClose()">
    <i class="fa fa-address-book-o" aria-hidden="true"></i>
    <span class="nav-caption">Customers</span>
  </a>
  <a mat-list-item routerLink="/standards" (click)="onSidenavClose()">
    <i class="fa fa-book" aria-hidden="true"></i>
    <span class="nav-caption">Standards</span>
  </a>

  <a mat-list-item routerLink="/tasks" (click)="onSidenavClose()">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    <span class="nav-caption">Task Management</span>
  </a>

  <a mat-list-item routerLink="/staff" (click)="onSidenavClose()">
    <i class="fa fa-users" aria-hidden="true"></i>
    <span class="nav-caption">Staff</span>
  </a>

  <a mat-list-item routerLink="/rfp" (click)="onSidenavClose()">
    <i class="fa fa-industry" aria-hidden="true"></i>
    <span class="nav-caption">Proposal Buildout</span>
  </a>

</mat-nav-list>
