<div>
    <h3> Welcome to staff-entry </h3>
<div>

<div class="content-container">

    <div>
        <mat-form-field>
            <input matInput placeholder="Add new staff member"  type="text" name="staffName"
            (blur)="onBlur()"
            (keyup)="onKeyup($event)"
            [(ngModel)]="currentStaff.name">
        </mat-form-field>

        <div class="staff-list">
          <mat-selection-list #staff>
              <mat-list-option *ngFor="let person of staffList">
                {{person.name}}
              </mat-list-option>
          </mat-selection-list>
        </div>
    </div>

    <div class="skill-list">
      <mat-selection-list #expertise>
          <mat-list-option *ngFor="let skill of skills">
            {{skill}}
          </mat-list-option>
      </mat-selection-list>
    </div>

</div>
