<div>
    <h3> Welcome to staff-entry </h3>
<div>

<div class="content-container">

    <div>
        <mat-form-field>
            <input matInput placeholder="Add new staff member"  type="text" name="staffName"
            (blur)="onBlur()"
            (keyup)="onKeyup($event)"
            [(ngModel)]="newStaffName">


        </mat-form-field>

        <div class="staff-list">

          <mat-selection-list #staff (selectionChange)="onStaffSelectionChange($event)">
              <mat-list-option *ngFor="let person of staffList" [value]="person">
                {{person.name}}
              </mat-list-option>
          </mat-selection-list>
        </div>
    </div>

    <div class="skill-list">

      <mat-selection-list #expertise [(ngModel)]="currentStaff.skills">
          <mat-list-option *ngFor="let skill of skills" [value]="skill">
            {{skill}}
          </mat-list-option>
      </mat-selection-list>
    </div>

</div>
